# compiled output
/dist
/node_modules
# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
imagens-base/9a57239bb69b8100dc52ccff792fef1c.png
imagens-base/58a498469be7be700a30c8d83147cd83.png
imagens-base/b0c25e50ed8d9da96e0bbc6961bb554b.png
test/app.e2e-spec.ts
test/jest-e2e.json
.env
public/1640872020879.png
acesso.txt
